

.page-top {
  background-color: #F6F6F6 !important;
  position: fixed;
  z-index: 904;
  box-shadow: 2px 0 3px rgba(255, 255, 255, 0.5);
  width: 100%;
  //padding: 20px 0px 0 0;
  padding: 0 0px 0 0;


  .dropdown-toggle::after {
    display: none;
  }


}



.blur {
  .page-top.scrolled {
    background-color: rgba(black, 0.85)
  }
}

a.al-logo {
  display: block;
  font-size: 24px;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: 60px;

  span {
  }
}

.user-profile {
  float: right;
  min-width: 230px;
  //margin-top: 40px;
  //margin-top: 10px;
}

.al-user-profile {
  //float: right;
  //margin-right: 12px;
  //transition: all .15s ease-in-out;
  //padding: 0;
  //width: 36px;
  //height: 36px;
  //border: 0;
  //opacity: 1;
  //position: relative;

  float: right;
  border: 0;
  opacity: 1;
  position: relative;
  padding: 0;
  border-left: 1px solid #eee;

  >a{
    padding: 27px 42px;
  }

  a {
    display: block;
    //padding: 10px 20px;
    color: #141B23;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

.al-skin-dropdown {
  float: right;
  margin-top: 14px;
  margin-right: 26px;

  .tpl-skin-panel {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.icon-palette {
  display: inline-block;
  width: 14px;
  height: 13px;
}



.profile-toggle-link{
  cursor: pointer;

  span{
    margin-right: 10px;
    color: #383838;
  }

  i{
    vertical-align: baseline;
    color: #344C92;
  }

}

