<div id="medicines-page">
  <div class="container">
  <h3>Treatments</h3>
    <div class="row">
      <div class="col-md-12">
        <img src="../../../../../assets/img/app/treatment.png" width="100" height="200"/>
        <br/><br/><br/>
        <div *ngIf="showEditTreatmentsButton()">
          <h2>Treatments Actions</h2>
          <hr/>
          <button *ngIf="showEditTreatmentsButton()" (click)="showAddTreatmentModal()" class="btn btn-success">Add New Treatment</button>
        </div>
      </div>
    </div>
    <hr/>
    <br/>
    <h3>Treatments List</h3>
    <hr/>
    <br/>
    <div class="row">
      <div class="col-md-1">
        <img src="../../../../../assets/img/app/search.ico" width="45" height="45"/>
      </div>
      <div class="col-md-11">
        <input type="text" name="search"  class="form-control" id="search" placeholder="Search.."/>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
          <tr>
            <td>Medicine</td>
            <td>Diagnosis</td>
            <td>Medicine Weight</td>
            <td>Solution Volume</td>
            <td>Dosage</td>
            <td>Infusion speed</td>
            <td>Time created</td>
            <td>Completed</td>
            <td *ngIf="showEditTreatmentsButton() || showCompleteTreatmentButton()">Actions</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let treat of treatments">
            <td>{{getMedicineName(treat.medicineId)}}</td>
            <td>{{treat.diagnosis}}</td>
            <td>{{treat.medicineWeight}}</td>
            <td>{{treat.solutionVolume}}</td>
            <td>{{treat.dosage}}</td>
            <td>{{treat.infusionSpeed}}</td>
            <td>{{treat.created | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td align="center">
              <i *ngIf="treat.isCompleted" class="fa fa-check"
                 style="font-size:30px;color:green"></i>
              <i *ngIf="!treat.isCompleted" class="fa fa-times" style="font-size:30px;color:red"></i>
            </td>
            <td *ngIf="showEditTreatment(treat)">
              <button class="btn btn-warning" (click)="showEditTreatmentModal(treat.id)">Edit</button>
            </td>
            <td *ngIf="showCompleteTreatment(treat)">
              <button class="btn btn-success" (click)="showCompleteTreatmentModal(treat.id)">Complete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-edit-treatment-modal #editTreatmentModal [diseaseHistoryId]="diseaseHistoryId" [medicines]="medicines"></app-edit-treatment-modal>
  <app-add-treatment-modal #addTreatmentModal [diseaseHistoryId]="diseaseHistoryId" [medicines]="medicines"></app-add-treatment-modal>
  <app-complete-treatment-modal #completeTreatmentModal></app-complete-treatment-modal>
</div>


