<div id="medicines-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="../../../../../assets/img/app/medicine.png" width="150" height="150"/>
        <br/><br/><br/>
        <div *ngIf="showEditMedicines()">
          <h2 i18n>Medicines Actions</h2>
          <hr/>
          <button *ngIf="showEditMedicines()" class="btn btn-success" (click)="showAddMedicineModal()" i18n>Add New Medicine</button>
        </div>
      </div>
    </div>
    <hr/>
    <br/>
    <h3 i18n>Medicines List</h3>
    <hr/>
    <br/>
    <div class="row">
      <div class="col-md-1">
        <img src="../../../../../assets/img/app/search.ico" width="45" height="45"/>
      </div>
      <div class="col-md-11">
        <input type="text" name="search"  class="form-control" id="search" placeholder="Search.." i18n-placeholder/>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <td i18n>Id</td>
              <td i18n>Title</td>
              <td i18n>Description</td>
              <td *ngIf="showEditMedicines()" i18n>Actions</td>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let med of medicines">
            <td>{{med.id}}</td>
            <td>{{med.title}}</td>
            <td>{{med.description}}</td>
            <td *ngIf="showEditMedicines()">
              <button class="btn btn-warning" (click)="showEditMedicineModal(med.id)" i18n>Edit</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-edit-medicine-modal #editMedicineModal></app-edit-medicine-modal>
  <app-add-medicine-modal #addMedicineModal></app-add-medicine-modal>
</div>
