<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="shifted-right">
      <div class="d-inline-block">
        <button class="btn btn-info" [routerLink]="['/', routes.home]" i18n>Home</button>
      </div>

      <div ngbDropdown class="d-inline-block" *ngIf="isAuthenticated">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{user.username}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" i18n>Profile</button>
          <button class="dropdown-item" (click)="logout()" i18n>Logout</button>
        </div>
      </div>

      <div *ngIf="!isAuthenticated" class="d-inline-block">
        <button class="btn btn-info" [routerLink]="['/', routes.login]" i18n>Login</button>
      </div>
    </div>
  </div>
</nav>
